html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    margin: 3rem;
    text-align: center;
    font-size: 1.5rem;
}

.buttons {
    display: flex;
    margin-top: 3rem;
    align-items: center;
    justify-content: center;
}

.button {
    margin: 0.5rem 1rem;
    padding: 1.5rem;
    width: 15rem;
    font-size: 2rem;
    font-family: inherit;
    font-weight: 900;
    border: 1px solid lightgray;
    border-radius: 2.5rem;
    background-color: rgb(245, 245, 245);
    letter-spacing: 0.3rem;
}
.button:hover {
    cursor: pointer;
    color: rgb(235, 152, 0);
}

.button:focus {
    outline: none;
}


.results {
    display: block;
    margin: 0 auto;
    padding: 0.5rem;
    width: 22rem;
    text-align: center;
    font-size: 1rem;
    border: 1px solid lightgray;
    border-radius: 1rem;
    color: darkgrey;
}

.result {
}

.updating {
    color: rgb(235, 152, 0);
    animation: pop 0.3s ease-in-out;
    color: black;
}

@keyframes pop {
    0% {color: rgb(235, 152, 0);}
    50% {font-size: 7rem;}
    100% {font-size: 5rem; color: rgb(235, 152, 0);}
}

.scoreboard {
    display: flex;
    justify-content: center;
}

.scorebox {
    margin: 1rem 3rem;
    text-align: center;
    min-height: 18rem;
}

.player-name, .computer-name {
    font-size: 1.3rem;
    font-weight: bold;
    margin: 1rem 0 0.5rem;
}

.score {
    display: flex;
    font-family: monospace;
    font-size: 6rem;
    margin: 0;
    width: 10rem;
    height: 10rem;
    align-items: center;
    justify-content: center;
    border: 1px solid lightgray;    
    border-radius: 5px;
}

.selection {
    font-size: 0.8rem;
    color: darkgrey;
}