html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    margin: 3rem;
    text-align: center;
    font-size: 1.5rem;
}

.buttons {
    display: flex;
    margin-top: 3rem;
    align-items: center;
    justify-content: center;
}

.button {
    margin: 0.5rem 1rem;
    padding: 1.5rem;
    width: 15rem;
    font-size: 2rem;
    font-family: inherit;
    font-weight: 900;
    border: 1px solid transparent;
    border-radius: 2.5rem;
    background-color: rgb(242, 242, 242);
    letter-spacing: 0.3rem;
}
.button:hover {
    cursor: pointer;
    color: rgb(235, 152, 0);
}

.button:active {
    color: blue;
}

.button:focus {
    outline: none;
}

.updating-message {
    animation: pop-message 200ms;
}

@keyframes pop-message {
    0% {font-size: 1rem;}
    50% {font-size: 1.1rem;}
    100% {font-size: 1rem;}
}

.results {
    display: flex;
    margin: 0 auto;
    height: 2rem;
    width: 22rem;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: rgb(242, 242, 242);
}

.result {
    font-size: 1rem;
    /* color: rgb(190, 190, 190); */
    color: black;
}

.updating-score {
    color: rgb(235, 152, 0);
    animation: pop-score 400ms;
    color: black;
}

@keyframes pop-score {
    0% {color: rgb(235, 152, 0);}
    50% {font-size: 7rem;}
    100% {font-size: 5rem; color: rgb(235, 152, 0);}
}

.scoreboard {
    display: flex;
    justify-content: center;
}

.scorebox {
    margin: 1rem 3rem 0;
    text-align: center;
    min-height: 17rem;
}

.player-name, .computer-name {
    font-size: 1.3rem;
    font-weight: bold;
    margin: 1rem 0 0.8rem;
}

.score {
    display: flex;
    font-family: monospace;
    font-size: 6rem;
    margin: 0;
    width: 10rem;
    height: 10rem;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;    
    border-radius: 10px;
    box-shadow: 0 0 5px 2px rgb(218, 218, 218);
}

.selection {
    font-size: 0.8rem;
    color: rgb(190, 190, 190);
}

.play-again {
    display: none;
    justify-content: center;
    margin: 1.5rem;
}

.play-again button {
    font-family: inherit;
    font-weight: bold;
    font-size: 1.5rem;
    width: 18rem;
    padding: 0.75rem;
    border: 1px solid transparent;
    border-radius: 1.5rem;
    background-color: rgb(242, 242, 242);
}

.play-again button:hover {
    cursor: pointer;
    color: rgb(235, 152, 0);
}

.play-again button:active {
    color: blue;
}

.play-again button:focus {
    outline: none;
}